<li class="dash">
	<%= link_to '#', :class => 'active' do %>
		<span>Painel</span>
	<% end %>
</li>
<li class="login">
	<%= link_to admin_admins_path, :class => 'active' do %>
		<span>Admins</span>
	<% end %>
</li>

